.power-meter-size {
  font-size: 10rem;
}

.info-size {
  font-size: 0.5rem;
}

.grid {
  display: grid;
}

.grid-gap {
  grid-gap: 2rem;
}

.power-meter-grid {
  grid-template-columns: 100%;
  grid-template-rows: auto auto;

  grid-template-areas:
    "power"
    "info";
}

.grid-area-info {
  grid-area: info;
}

.grid-area-power {
  grid-area: power;
}
